h1{
    text-align: center;
    justify-content: center;
}
#form{
    text-align: center;
    justify-content: center;
    background-color: lightblue;
    display: block;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}
input{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}
button{
    color: white;
    background-color: orange;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: darkorange;
}
ul{
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 20px auto;
}
li{
    background-color: burlywood;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li button{
    background-color: red;
    color: white;
}
li button:hover{
    background-color: darkred;
}